@model Wyrobot.Web.Models.LevelReward

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LevelReward</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuildId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuildId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
